<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>发布笔记</title>
  <link rel="stylesheet" href="/css/element.css">
  <link href="/css/main.css" rel="stylesheet">
  <link href="/css/blog-edit.css" rel="stylesheet">
</head>
<body>
<script>
  (function () {
    const token = localStorage.getItem("token");
    if (!token) {
      alert("请先登录");
      location.href = "/pages/auth/login.html";
    }
  })();
</script>

<div id="app" v-show="pageReady" style="display:none;">
  <div class="header">
    <div class="header-cancel-btn" @click="goBack">取消</div>
    <div class="header-title">&nbsp;&nbsp;发笔记 <i class="el-icon-info"></i></div>
    <div class="header-commit">
      <div class="header-commit-btn" @click="submitBlog">发布</div>
    </div>
  </div>

  <div class="upload-box">
    <input type="file" @change="fileSelected" name="file" ref="fileInput" style="display:none">
    <div class="upload-btn" @click="openFileDialog">
      <i class="el-icon-camera"></i>
      <div style="font-size:12px;line-height:12px">上传照片</div>
    </div>
    <div class="pic-list">
      <div class="pic-box" v-for="(f, i) in fileList" :key="i">
        <img :src="normalizeImageUrl(f)" alt="">
        <i class="el-icon-close" @click="deletePic(i)"></i>
      </div>
    </div>
  </div>

  <div class="blog-title">
    <input v-model="params.title" type="text" maxlength="50" placeholder="填写标题更容易上首页哦~">
  </div>

  <div class="blog-content">
    <textarea v-model="params.content" placeholder="最近打卡了什么地方，有什么新奇体验呢？"></textarea>
  </div>

  <div class="divider"></div>

  <div class="blog-shop" @click="showDialog = true">
    <div class="shop-left">关联商户</div>
    <div v-if="selectedShop.name">{{ selectedShop.name }}</div>
    <div v-else>去选择&nbsp;<i class="el-icon-arrow-right"></i></div>
  </div>

  <div class="mask" v-show="showDialog" @click="showDialog = false"></div>

  <transition name="el-zoom-in-bottom">
    <div class="shop-dialog" v-show="showDialog">
      <div class="blog-shop">
        <div class="shop-left">关联商户</div>
      </div>
      <div class="search-bar">
        <div class="city-select">{{ currentCity }} <i class="el-icon-arrow-down"></i></div>
        <div class="search-input">
          <i class="el-icon-search" @click="queryShops"></i>
          <input v-model="shopName" type="text" placeholder="搜索商户名称" @keyup.enter="queryShops">
        </div>
      </div>
      <div class="shop-list" v-loading="shopLoading">
        <div v-for="s in shops" :key="s.id" class="shop-item" @click="selectShop(s)">
          <div class="shop-name">{{ s.name }}</div>
          <div>{{ s.area || s.address || '暂无地址' }}</div>
        </div>
        <div v-if="!shopLoading && shops.length === 0" style="padding:24px 16px;color:#999;text-align:center;">
          当前位置缓存中还没有可关联的商户，先去首页或店铺页浏览一下附近商铺再来试试
        </div>
      </div>
    </div>
  </transition>
</div>

<script src="/js/vue.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/element.js"></script>
<script src="/js/common.js"></script>
<script src="/js/footer.js"></script>
<script>
  new Vue({
    el: "#app",
    data() {
      return {
        util,
        fileList: [],
        params: {
          title: "",
          content: ""
        },
        showDialog: false,
        shops: [],
        shopName: "",
        selectedShop: {},
        pageReady: false,
        shopLoading: false,
        currentCity: "当前定位"
      };
    },
    created() {
      this.checkLogin();
      this.loadCurrentCity();
      this.queryShops();
    },
    methods: {
      loadCurrentCity() {
        const savedCity = localStorage.getItem("currentCity");
        if (!savedCity) {
          return;
        }
        try {
          const parsed = JSON.parse(savedCity);
          this.currentCity = parsed && parsed.name ? parsed.name : savedCity;
        } catch (e) {
          this.currentCity = savedCity;
        }
      },
      queryShops() {
        const params = {};
        const keyword = (this.shopName || "").trim();
        if (keyword) {
          params.name = keyword;
        }
        const location = this.getCachedLocation();
        if (location) {
          params.x = location.x;
          params.y = location.y;
        }
        this.shopLoading = true;
        axios.get("/shop/of/cache", { params })
          .then(({ data }) => {
            this.shops = Array.isArray(data) ? data : [];
          })
          .catch(err => this.$message.error(this.getErrorMessage(err)))
          .finally(() => {
            this.shopLoading = false;
          });
      },
      selectShop(shop) {
        this.selectedShop = shop;
        this.showDialog = false;
      },
      submitBlog() {
        const data = {
          ...this.params,
          title: (this.params.title || "").trim(),
          content: (this.params.content || "").trim(),
          images: this.fileList.join(",")
        };
        if (!data.content) {
          this.$message.error("请先填写笔记内容");
          return;
        }
        if (this.selectedShop.id) {
          data.shopId = this.selectedShop.id;
        }
        axios.post("/blog", data)
          .then(() => {
            this.$message.success("发布成功");
            setTimeout(() => {
              location.href = "/pages/user/info.html";
            }, 200);
          })
          .catch(err => this.$message.error(this.getErrorMessage(err)));
      },
      openFileDialog() {
        this.$refs.fileInput.click();
      },
      fileSelected() {
        const file = this.$refs.fileInput.files[0];
        if (!file) {
          return;
        }
        const formData = new FormData();
        formData.append("file", file);
        axios.post("/upload/blog", formData, {
          headers: { "Content-Type": "multipart/form-data" }
        }).then(({ data }) => {
          const imagePath = data && data.startsWith("/imgs") ? data : "/imgs" + data;
          this.fileList.push(imagePath);
          this.$refs.fileInput.value = "";
        }).catch(err => this.$message.error(this.getErrorMessage(err)));
      },
      deletePic(index) {
        axios.get("/upload/blog/delete", {
          params: { name: this.fileList[index] }
        }).then(() => {
          this.fileList.splice(index, 1);
        }).catch(err => this.$message.error(this.getErrorMessage(err)));
      },
      checkLogin() {
        axios.get("/user/me")
          .then(() => {
            this.pageReady = true;
          })
          .catch(err => {
            this.$message.error(this.getErrorMessage(err));
            setTimeout(() => {
              location.href = "/pages/auth/login.html";
            }, 200);
          });
      },
      getCachedLocation() {
        const savedLocation = localStorage.getItem("userLocation");
        if (!savedLocation) {
          return null;
        }
        try {
          const parsed = JSON.parse(savedLocation);
          if (parsed && parsed.x && parsed.y) {
            return parsed;
          }
        } catch (e) {
          return null;
        }
        return null;
      },
      normalizeImageUrl(path) {
        if (!path) {
          return "/imgs/icons/default-icon.png";
        }
        if (path.startsWith("http")) {
          return path;
        }
        if (path.startsWith(util.commonURL)) {
          return path;
        }
        return util.commonURL + (path.startsWith("/") ? path : "/" + path);
      },
      getErrorMessage(err) {
        if (typeof err === "string") {
          return err;
        }
        return err?.response?.data?.errorMsg || err?.message || "操作失败";
      },
      goBack() {
        history.back();
      }
    }
  });
</script>
</body>
</html>
